<div>
  <h1>Chat APP</h1>
  <form id="formChat">
    <input type="text" id="inputMessage" placeholder="ingrese su mensaje...">
    <button type="submit">Enviar</button>
  </form>
  <div id="chatBox">
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>