<form action="http://localhost:8080/user" method="POST">
  <input type="text" name="name" placeholder="ingrese su nombre">
  <input type="text" name="lastName" placeholder="ingrese su apellido">
  <input type="email" name="email" placeholder="ingrese su email">
  <input type="number" name="phone" placeholder="ingrese su telefono">

  <button type="submit">Enviar</button>
</form>